*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#050505;
color:white;
}

/* HEADER */
header{
background:#0b0b0b;
padding:18px;
font-size:26px;
font-weight:900;
color:#00ff88;
border-bottom:1px solid #1c1c1c;
}

/* CONTAINER */
.container{
padding:18px;
}

h2{
margin-bottom:15px;
}

/* CARD */
.card{
background:#0f0f0f;
padding:15px;
margin-bottom:18px;
border-radius:16px;
transition:.25s;
box-shadow:0 0 0 transparent;
}

.card:hover{
transform:translateY(-5px);
box-shadow:0 0 25px #00ff8830;
}

/* IMAGE */
.card img{
width:100%;
border-radius:12px;
margin-bottom:12px;
}

/* TITLE */
.card h3{
font-size:18px;
margin-bottom:6px;
}

/* CATEGORY */
.card p{
color:#00ff88;
font-weight:bold;
font-size:13px;
}

/* HERO LOOK */
header::after{
content:"";
display:block;
height:2px;
background:#00ff88;
margin-top:15px;
box-shadow:0 0 10px #00ff88;
}