/* HEADER */
.header{
display:flex;
align-items:center;
justify-content:center;
gap:10px;
background:#0b0b0b;
padding:18px;
font-size:26px;
font-weight:900;
color:#00ff88;
border-bottom:2px solid #00ff88;
}

.logoimg{
width:38px;
height:38px;
border-radius:8px;
box-shadow:0 0 12px #00ff88;
}

/* BREAKING */
.breaking{
background:#00ff88;
color:black;
padding:10px;
text-align:center;
font-weight:bold;
}

/* MENU */
.topmenu{
background:#080808;
padding:10px;
text-align:center;
}

.topmenu a{
color:white;
margin:0 15px;
text-decoration:none;
font-weight:bold;
}

/* FEATURED */
.featured{
position:relative;
}

.featured img{
width:100%;
height:220px;
object-fit:cover;
opacity:.6;
}

.featured-text{
position:absolute;
bottom:20px;
left:20px;
}

.main{
display:flex;
gap:20px;
padding:15px;
}

.left{
flex:3;
}

.right{
flex:1;
}

.trend{
background:#111;
padding:12px;
margin-bottom:10px;
border-radius:10px;
}

.trend:hover{
background:#00ff88;
color:black;
cursor:pointer;
}

@media(max-width:900px){
.main{flex-direction:column;}
}